name: Check

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: "temurin"
        java-version: 25
    - uses: gradle/actions/setup-gradle@v5
    - run: ./gradlew check
